@import "tailwindcss";
/* Pagy navigation styles for Tailwind CSS compatibility */

/* Main navigation container */
.pagy {
    @apply flex space-x-1 font-semibold text-sm text-gray-400;
    a:not(.gap) {
        @apply block rounded-lg px-3 py-1 border-2 bg-white border-gray-200;
        &:hover {
            @apply bg-blue-200 text-blue-400;
        }
        &:not([href]) { /* disabled links */
            @apply text-gray-300 bg-gray-100 cursor-default;
        }
        &.current {
            @apply border-2 border-blue-400 bg-blue-200 text-blue-400;
        }
    }
    label {
        @apply inline-block whitespace-nowrap bg-gray-200 rounded-lg px-3 py-0.5;
        input {
            @apply bg-gray-100 border-none rounded-md;
        }
    }
}


